
-if flash[:notice].present?
  .flash-notice= flash[:notice]

-unless @claim.valid?

  %h3.error-messages Errors prevented this record from being saved
  %ul
    - claim.error_messages.each do |message|
      %li.error-messages= message
