%h1 Fee Remission Claim Accepted

%div.callout.callout-confirmation
  %p.detail
    Your reference number is
  %span.number
    = @claim.reference_number
%h2 What happens next
%ol.list-number
  %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique aliquam tristique. Mauris vitae lobortis.
  %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique aliquam tristique. Mauris vitae lobortis.