%h1 Fee Remission Claim Accepted

%div.callout.callout-confirmation
  %p.detail
    Your reference number is
  %span.number
    = @claim.reference_number

%hr

=link_to 'Enter a new Fee Remission application', new_claim_path
&nbsp;&nbsp;&nbsp;
=link_to "View applications", claims_path