-# <fieldset class="inline">
-#     <legend class="form-label">Do you know their National Insurance number?</legend>
-#     <div class="form-group form-group-compound">
-#       <label class="block-label" data-target="example-ni-number" for="radio-indent-1">
-#         <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
-#         Yes
-#       </label>
-#       <label class="block-label" for="radio-indent-2">
-#         <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
-#         No
-#       </label>
-#     </div>
-#     <div class="panel-indent js-hidden" id="example-ni-number">
-#       <label class="form-label" for="national-insurance">National Insurance number</label>
-#       <input class="form-control" type="text" id="national-insurance">
-#     </div>
-#   </fieldset>

%section 
%h2 Example


= fields_for evidence do |ef|
  %fieldset.inline
    %legend.form-label
      Do you know their National Insureance Number?
    .form-group.form-group-compound
      %label.block-label{for: 'radio-indent-1'}
        = ef.radio_button :supplied, 'Yes', {id: 'radio-indent-1', name: 'radio-indent-group'}
        Yes
      %label.block-label{for: 'radio-indent-2'}
        = ef.radio_button :supplied, 'No', {id: 'radio-indent-2', name: 'radio-indent-group'}
        No 
    .panel-indent.js-hidden#example-ni-number
      %label.form-label{for: 'national-insurance'}
        National Insurance Number
      %input.form-control#national-insureance{type: 'text'}


