%header.page-header.group

  %ul.breadcrumb
    %li #{link_to 'Home', '..'}

  %h1 Help

.container

  %p Find out about accelerated possession, including the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.

  %ul.sections
    %li
      %h2 #{link_to 'Accessibility', 'accessibility'}
      %p Details of accessibility and help using the internet

    %li
      %h2 #{link_to 'Cookies', 'cookies'}
      %p How cookies are used and each cookie's purpose

    %li
      %h2 #{link_to 'Terms and conditions and privacy policy', 'terms'}
      %p Information about the service and privacy approach
